    * {
        padding: 0;
        margin: 0;
    }

    body {
        background-color: #B9BAA3;
        text-align: center
    }

    .container {
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: -33px;
    }

    .game {
        height: 60vmin;
        width: 60vmin;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1.5vmin
    }

    .btn {
        height: 18vmin;
        width: 18vmin;
        border-radius: 50px;
        border: none;
        font-size: 8vmin;
        color: darkblue;
        background-color: rgb(21, 23, 27);
        box-shadow: 10px rgba(0, 0, 0, 1.0);

    }

    .reset {
        padding: 1rem;
        border: none;
        font-size: 30px;
        background-color: #6D1A36;
        color: antiquewhite;
        border-radius: 10px;

    }

    .new-btn {
        padding: 1rem;
        font-size: 30px;
        background-color: #6D1A36;
        color: antiquewhite;
        border-radius: 10px;
        border: 1px solid;
        width: 200px;
        height: 70px;
        padding: 10px;
        margin-top: 33px;
    }

    .win {
        color: #0081A7;
        font-size: 30px;
        padding: 10px;
        margin-top: 141px;
        margin-left: 20px;
    }

    .msg-container {
        height: 40px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 4rem;

    }

    .title {
        margin-bottom: 3px;
        margin-top: 5px;
    }

    .hide {
        display: none;
    }